# =========[ Custom T-header(logo with figlet) Setup ]=========
[version]
version=3.0
[Author]
author=Remo773
[contributor]
contributor=( remo773)
[logo]
logo=theader.txt
indent=2
[PS1 PROMPT]
TNAME=
[Termux Properties]
termux_properties=57d3064a2fe33080e6516410fd91a7638edfa74bc3910c6d4ec77ba3f2093c10
[title]
title=tyro 2.0
